@import './common.css';
/* #region  content_right*/
.content_right{
    width: 85%;
    padding: 35px;
    background-color: #DDDBD1;
}

.content_right_title{
    display: flex;
    align-items: center;
    padding: 15px;
    padding-left: 35px;
    font-size: 24px;
    color: #603636;
}
.content_right_title img{
    padding-right: 10px;
}
/* #endregion  */
/* #region 搜尋 */
.search-container {
    display: flex;
    margin-right: 20px;
  }
  
#search_text{
    margin-right: 10px;
    padding-left: 10px; 
    padding-right: 30px; 
    width: 200px; 
    border: 1px solid #7C6C6C; 
    border-radius: 5px; 
}
  
.search-container button {
    padding: 6px 10px;
    background: #ccc;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}
/* #endregion  */
.content_right_btn{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px;
    padding: 15px 0px 10px 0;
    width: 100%;
}
/* #region btn */
.chart_div{
    display: flex;
    margin: 0 40px;
}
.chart_btn_1{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 10px;
    padding-top: 10px;
    width: 120px;
    height: 30px;
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #443232;
    background-color: #E6DFBB;
}
.chart_btn_2{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 10px;
    padding-top: 10px;
    width: 120px;
    height: 30px;
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #443232;
    background-color: #D9D9D9;
    opacity: 0.9;
}
.chart_btn_2:hover{
    color: #9f4e4e;
    background-color: #e5e5e5;
}
/* #endregion  */
.line{
    width: 100%;
    height: 6px;
    padding: 0;
    margin: 0;
    background-color: #EBE8DB;
}
.content_right_table{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 5px;
    padding: 40px 0px;
    border-radius: 10px;
    background-color: #F4F3ED;
    box-shadow: 2px 2px 8px #535760;
}

.chart1{
    width: 70%;
}