*{
    font-family: 'Microsoft JhengHei';
    margin: 0;
    padding: 0;
}
body{
    background-color: #DDDBD1;
}
header{
    padding: 15px;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #3F4F53;
}
header img{
    padding: 5px 5px;
    width: 175px;
    height: 70px;
}

.content{
    display: flex;
}

.sidebar{
    width: 15%;
    padding: 15px;
    color: #fff;
    background-color: #2D3A3D;
}
/* #region 左邊清單 */
.list {
    position: sticky;
    top:50px;
    left: 20px;
    list-style-type: none;
    padding: 0;
}
.list li {
    padding: 20px 10px 15px 15px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #e5e2a7;
}

.list img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.list2 {
    list-style-type: none;
}
.list2 li {
    padding: 10px 0;
    padding-left: 38px;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.list2 a{
    text-decoration: none;
    color: #fff;
}
.list2 a:hover{
    text-decoration: none;
    color: #edb989;
}
.list2 img {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}
/* #endregion */
.icon{
    position: fixed;
    bottom: 30px;
    right: 5px;
    z-index: 10;
    color: #B19D84;
}
.icon a{
    color: #B19D84;
}
