*{
    font-family: 'Microsoft JhengHei';
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-color: #DDDBD1;
}
header{    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #3F4F53;
}
header img{
    padding: 5px 5px;
    width: 175px;
    height: 70px;
}

#menu-icon{
    display: none;
    width: 50px; 
    height: 50px;
    margin-right: 30px;
}
.content{
    display: flex;
    justify-content: center;
}

.sidebar{
    min-height: calc(100vh - 160px);
    width: 12%;
    padding: 15px;
    color: #fff;
    background-color: #2D3A3D;
    width: 12%;
    padding: 15px;
    color: #fff;
    background-color: #2D3A3D;
}
.sidebar.show-sidebar {
    display: block; 
}
/* #region 左邊清單 */
.list {
    display: flex;
    flex-direction: column;
    position: sticky;
    top:50px;
    left: 20px;
    list-style-type: none;
    padding: 0;
}
.list li {
    padding: 20px 0;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: #e5e2a7;
}

.list img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.list2 {
    list-style-type: none;
}
.list2 li {
    padding: 10px 0;
    padding-left: 15px;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.list2 a{
    text-decoration: none;
    color: #fff;
}
.list2 a:hover{
    text-decoration: none;
    color: #edb989;
}
.list2 img {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}
/* #endregion */
.icon{
    position: fixed;
    bottom: 30px;
    right: 5px;
    z-index: 10;
    color: #B19D84;
}
.icon a{
    color: #B19D84;
}

@media only screen and (max-width: 1100px) {
    .sidebar {
        display: none;
        width: 20%;
    }
    #menu-icon {
        display: block;
    }
    .list li{
        font-size: 20px;
    }
    .list2 li {
        font-size: 18px;
    }
}

@media only screen and (max-width: 900px) {
    .sidebar{
        width: 18%;
    }
}
@media only screen and (max-width: 820px) {
    .sidebar{
        width: 20%;
    }
    .list li{
        font-size: 18px;
    }
    .list2 li {
        font-size: 16px;
    }
}
@media only screen and (max-width: 710px) {
    .sidebar{
        width: 24%;
    }
}