@import './common.css';
/* #region  content_right*/
.content_right{
    width: 85%;
    padding: 35px;
    padding-bottom: 120px;
    background-color: #DDDBD1;
}

.content_right_title{
    display: flex;
    align-items: center;
    padding: 15px;
    padding-left: 35px;
    font-size: 20px;
    color: #603636;
}
.content_right_title img{
    padding-right: 10px;
}
/* #endregion  */
.content_right_table{
    display: flex;
    justify-content: center;
    margin: 0px 30px;
    padding: 40px;
    border-radius: 10px;
    background-color: #F4F3ED;
    box-shadow: 2px 2px 8px #535760;
}
.create{
    padding: 20px 35px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
}
#field1{
    font-size: 20px;
    font-weight: bold;
    color: #71472F;
    margin-right: 10px;
}
#field2,#price-field{
    width: 300px;
    height: 35px;
    padding-left: 10px;
    border: 1.5px solid #bdb5b5;
    border-radius: 5px;
}
#field3{
    width: 300px;
    padding-left: 10px;
}
#field4{
    width: 300px;
    resize: none;
    border: 1.5px solid #bdb5b5;
    border-radius: 5px;
}
/* #region numbox */
.numbox{
    height: 30px;
    width: 130px;
    display: flex; 
    align-items: center;
    border-radius: 10px;   
    border: 1.5px solid #b39972;  
}

.min{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 35px; 
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    border: 0; 
    color: #71472F;
    background-color: #f7eede;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} 
.plus{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 35px; 
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    border:0; 
    color: #71472F;
    background-color: #f7eede;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} 

.num{
    height: 30px;
    width:60px; 
    text-align: center;
    color: #71472F;
    border: 0;
    border-top: 0;
    border-bottom: 0;
    font-size: 14px;
    font-weight: bolder;
    border-left: 1px solid #b39972;
    border-right: 1px solid #b39972;
    
}

.num::-webkit-inner-spin-button {
     -webkit-appearance: none;
}
/* #endregion  */
/* #region button */
.button{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 15px;
}
#button1{
    width: 80px;
    height: 35px;
    font-weight: bold;
    font-size: 16px;
    color: #4E3131;
    background-color: #E8E4D8;
    border: 1.5px solid #947D71;
    border-radius: 5px;
    margin-right: 15px;
}
#button2{
    width: 80px;
    height: 35px;
    font-weight: bold;
    font-size: 16px;
    color: #9A2525;
    background-color: #EEE2A5;
    border: 1.5px solid #947D71;
    border-radius: 5px;
}
#button1:hover,#button2:hover{
    opacity: 0.7;
}
/* #endregion */
