@import './common.css';
/* #region  content_right*/
.content_right{
    width: 85%;
    padding: 35px;
    padding-bottom: 120px;
    background-color: #DDDBD1;
}

.content_right_title{
    display: flex;
    align-items: center;
    padding: 15px;
    padding-left: 35px;
    font-size: 24px;
    color: #603636;
}
.content_right_title img{
    padding-right: 10px;
}
/* #endregion  */
.content_right_table{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 5px;
    padding: 40px 10px;
    border-radius: 10px;
    background-color: #F4F3ED;
    box-shadow: 2px 2px 8px #535760;
}

/* #region  表格*/
table{
    border-collapse: collapse;
    width: 100%;
    margin: 5px 10px;
}

table, th, td{
    border: 1px solid #594949;
}

th {
    height: 40px;
    padding: 5px 2px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #71472F;
    background-color: #F7ECB5;
}

td{
    height: 35px;
    padding: 5px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    color: #71472F;
    background-color: #F6F4E7;
}
#out_of{
    color: #B63232;
}
/* #endregion */

/* #region  表格上下架*/
#button_down{
    width: 50px;
    margin-right: 5px;
    border: 0.5px solid #594949;;
    border-radius: 5px;
    font-size: 18px;
    color: #594949;
    background-color: #FEFCF2;
}
#button_down:hover{
    font-weight: bold;
    color: rgb(186, 0, 0);
    background-color: #f4cea4;
}
#button_none{
    width: 50px;
    margin-right: 5px;
    border: 0.5px solid #594949;;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0.5;
    color: #594949;
    background-color: #FEFCF2;
}
/* #endregion */
@media only screen and (max-width: 1100px) {
    .content_right{
        width: 100%;
        padding: 20px ;
    }

}