@import './common.css';
/* #region  content_right*/
.content_right{
    width: 85%;
    padding: 35px;
    padding-bottom: 120px;
    background-color: #DDDBD1;
}

.content_right_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-left: 35px;
    font-size: 24px;
    color: #603636;
}
.content_right_title_img{
    display: flex;
    align-items: center;
    padding-right: 10px;
}
/* #endregion  */

/* #region 搜尋 */
.search-container {
    display: flex;
    margin-right: 20px;
  }
  
#search_text{
    margin-right: 10px;
    padding-left: 10px; 
    padding-right: 30px; 
    width: 200px; 
    border: 1px solid #7C6C6C; 
    border-radius: 5px; 
}
  
.search-container button {
    padding: 6px 10px;
    background: #ccc;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}
/* #endregion  */
.content_right_table{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 5px;
    padding: 40px 10px;
    border-radius: 10px;
    background-color: #F4F3ED;
    box-shadow: 2px 2px 8px #535760;
}
/* #region 表格 */
table{
    border-collapse: collapse;
    width: 100%;
    margin: 5px 10px;
}

table, th, td{
    border: 1px solid #594949;
}

th {
    height: 40px;
    padding: 5px 2px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #71472F;
    background-color: #F7ECB5;
}

td{
    height: 35px;
    padding: 5px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    color: #71472F;
    background-color: #F6F4E7;
}
#out_of{
    color: #B63232;
}
.button_edit{
    width: 50px;
    margin: 5px;
    border: 0.5px solid #594949;;
    border-radius: 5px;
    font-size: 18px;
    color: #594949;
    background-color: #FEFCF2;
}
.button_edit:hover{
    color: #FEFCF2;
    background-color: #766060;
}
/* #endregion  */

/* #region 彈跳視窗 */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* 半透明黑色背景 */
}
  
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 居中显示 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 设置弹窗宽度 */
    max-width: 600px; /* 最大宽度 */
    max-height: 80%; /* 最大高度 */
    overflow-y: auto; /* 当内容超过最大高度时，允许垂直滚动 */
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* #endregion  */
/* #region 彈跳視窗_內容 */
.create{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
#field1{
    font-size: 20px;
    font-weight: bold;
    color: #71472F;
    margin-right: 10px;
}
#field2{
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border: 1.5px solid #bdb5b5;
    border-radius: 5px;
}
/* #endregion  */

/* #region button */
.button{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 15px;
}
#button1{
    width: 80px;
    height: 35px;
    font-weight: bold;
    font-size: 16px;
    color: #4E3131;
    background-color: #E8E4D8;
    border: 1.5px solid #947D71;
    border-radius: 5px;
    margin-right: 15px;
}
#button2{
    width: 80px;
    height: 35px;
    font-weight: bold;
    font-size: 16px;
    color: #9A2525;
    background-color: #EEE2A5;
    border: 1.5px solid #947D71;
    border-radius: 5px;
}
#button1:hover,#button2:hover{
    opacity: 0.7;
}
/* #endregion */

/* #region numbox */
.numbox{
    height: 20px;
    width: 90px;
    display: flex; 
    align-items: center;
    border-radius: 10px;   
    border: 1.5px solid #b39972;  
}

.min{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 25px; 
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    border: 0; 
    color: #71472F;
    background-color: #f7eede;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} 
.plus{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 25px; 
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    border:0; 
    color: #71472F;
    background-color: #f7eede;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} 

.num{
    height: 20px;
    width:40px; 
    text-align: center;
    color: #71472F;
    border: 0;
    border-top: 0;
    border-bottom: 0;
    font-size: 14px;
    font-weight: bolder;
    border-left: 1px solid #b39972;
    border-right: 1px solid #b39972;
    
}

.num::-webkit-inner-spin-button {
     -webkit-appearance: none;
}
/* #endregion  */

@media only screen and (max-width: 1100px) {
    .content_right{
        width: 100%;
        padding: 20px ;
    }

}